<h1>Home#page</h1>
<p>Find me in app/views/home/page.html.erb</p>

<div class="row">
    <div class="jumbotron">
        <div class="col-md-6">
            <h1 class="display-4">Welcome to Death Row Taco!</h1>
            <p class="lead">DRT is a two sided marketplace for everyone and anyone living in the city of Perth in Western Australia to have the opportunity to buy and sell home made Taco's</p>
            <hr class="my-4">
            <p>Let's tacoboutit.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                <%= link_to "List Taco", new_product_path, class:"btn btn-primary btn-lg"%>
                
            </p>
        </div>

        <div class="col-md-6">
        <%= image_tag "chad-montano-lP5MCM6nZ5A-unsplash" %>
        </div>

    </div>
</div>
