<%# This is where a user can modify tan existing listing %>
<h1>You are now editing your listing</h1>

<%= render 'form', product: @product %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
